<h1>Welcome <%=@user.username%></h1>

<p>Your current account balance: <%=@user.balance.round(2)%></p>

<a href='/deposit'>Deposit</a>
<a href='/withdrawal'>Withdrawal</a>

<p><a href="/logout">Log Out</a></p>
